{% extends 'index.html' %}

{% block content %}
<br>
<h1 style="font-size: 30px">Datos para crear archivo</h1>

<form action="/copiar/" method="GET">
    <div class="form-row">
            <label for="exampleInputEmail1">Ubicación actual: <input type="text"  value="viejo"  class="form-control" name="ubA" id="exampleInputEmail1" aria-describedby="emailHelp"></label>
            <label for="exampleInputEmail1">Ubicación a copiar: <input type="text"  value="nuevo"  class="form-control" name="ubC" id="exampleInputEmail1" aria-describedby="emailHelp"></label>
        </div>
        <button type="submit" class="btn btn-primary">Borrar</button>
    </div>
</form>

<br>
<h3>{{ mensaje }}</h3>
{% endblock %}