{% extends 'index.html' %}

{% block content %}
<br>
<h1 style="font-size: 30px">Datos para crear archivo</h1>

<form action="/crear/" method="GET">
    <div class="form-row">
        <div class="form-group col-auto">
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Tipo</label>
                <select name="tipo" class="form-select" id="inputGroupSelect01">
                  <option selected>Choose...</option>
                  <option value="carpeta">Carpeta</option>
                  <option value="archivo">Archivo</option>
                </select>
              </div>
            <label for="exampleInputEmail1">Nombre</label>
            <input type="text"  value="name"  class="form-control" name="nombre" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-primary">Crear</button>
    </div>
</form>

<br>
<h1>{{ mensaje }}</h1>
{% endblock %}