.row{
    margin: 0px;
    
}
.botones> a.btn {
    width: 62px;
    height: 47px;
}
ion-icon {
    visibility: hidden;
    font-size: 32px;
}
.col-sm-2{
    text-align: center;
}

.tab-pane.fade .row{
    border: solid black 1px;
    border-top: solid 0px;
    background: #f8f8f8;
    padding-top: 10px;
    padding-bottom:10px;
    border-radius: 5px;
    background-color: #fff;
    border-color: #ccc; 
}
.archivo-ubicacion{
    overflow:hidden;
    height:35px;
}
.archivo-ubicacion div{
    height:100%;
    line-height:35px;
}

.archivo-ubicacion-label{
    font-weight:bold;
    font-size:15px;
}

.archivo-ubicacion-data{
    border:1px solid #ddd;
    border-left:0
}

.panel-group{
    width: 30%;
}
.col-sm-3 {
    width: 14%;
}
.titulo{
    font-size: medium;
        font-size: medium;
        text-align: center;
        font-family: -webkit-pictograph;

}
.row.descripcion{
    border: solid black 1px;
    background: #000000;
    padding-top: 10px;
    padding-bottom:10px;
    border-radius: 5px;
    background-color: #fff;
    border-color: #ccc;
    color: #ccc; 
}
   .carga-archivo-input {
       position: relative;
       overflow: hidden;
       margin: 0px;    
       color: #333;
          
   }
   .carga-archivo-input input[type=file] {
       position: absolute;
       top: 0;
       right: 0;
       margin: 0;
       padding: 0;
       font-size: 20px;
       cursor: pointer;
       opacity: 0;
       filter: alpha(opacity=0);
   }
   .carga-archivo-input-title {
       margin-left:2px;
   }